html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

#canvas-div {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#gol-canvas {
    border: 1px solid white;
    background-color: black;
    margin: 0px;
    padding: 0px;
}